.header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  
}
