.header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  display: inline-block;
  justify-content: space-around;
}

.logo {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  display: inline-flex;
}

.logo text {
  padding-left: 10px;
}

.navigation {
  display: inline;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navlink, .navlink a {
  color: black;
  padding: 5px 10px;
  display: inline;
  flex-shrink: 2;
}

.main-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column.large {
  width: 630px;
  border: 1px solid black;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
  flex-direction: column;
}

.column.small {
  width: 240px;
  border: 1px solid black;
  flex-direction: column;
}
